body{
  background-color:#6a6969;
}

#intro-screen {
  background-color: maroon;
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 28px;
}
.intro h1 {
  display: flex;
  justify-content: center;
  font-family: 'Times New Roman', Times, serif;
  color: burlywood;
  margin-top: 28px;
  margin-bottom: 28px;
}

.intro h4 {
  display: flex;
  justify-content: center;
  font-family:cursive;
  color: burlywood;
  font-style: italic;
  margin-bottom: 28px;
}

#startButton {
  color: green;
  font-family: sans-serif;
  font-weight: bolder;
  background-color:bisque;
}

#forma {
  width: 100%;
  padding-top: 20px;
}

#name {
  width: 100%;
  background-color: beige;
  font-family: cursive;
}

#sort {
  background-color:goldenrod;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: x-large;
  font-weight: bolder;
  border:saddlebrown;
}

.students {
  font-family: 'Times New Roman', Times, serif;
}

.expelled {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
