body{
  background-color:#5d5d5d;
}

.option-buttons-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 30px 0;
}

.option-buttons-container label {
  min-width: 120px;
  text-align: center;
  padding: 7px 0;
}

.option-buttons-container select {
  max-width: 461px;
  margin: 0 10px;
}

.column-toggler {
  display: none;
}
.card-containers {
  display: flex;
  flex-wrap: wrap;
}

.card-column {
  width: 50%;
}

.container-heading {
  text-align: center;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.student-card {
  text-align: center;
}
.gryffindor-card {
  background-color: #740001;
  border: 10px solid #ae0001;
  color: #c0c0c0;
}
.gryffindor-card-button {
  background-color: #d3a625;
}

.hufflepuff-card {
  background-color: #ffdb00;
  border: 10px solid #fff4b1;
  color: #000000;
}
.hufflepuff-card-button {
  background-color: #60605c;
  color: #d6d6d6;
}
.ravenclaw-card {
  background-color: #0e1a40;
  border: 10px solid #222f5b;
  color: #c0c0c0;
}
.ravenclaw-card-button {
  background-color: #946b2d;
}

.slytherin-card {
  background-color: #1a472a;
  border: 10px solid #2a623d;
  color: #aaaaaa;
}
.slytherin-card-button {
  background-color: #5d5d5d;
  color: #d6d6d6;
}

.voldey-card {
  background-color: #1a1411;
  border: 10px solid #39689c;
  color: #e7dddd;
}
.voldey-card-button {
  background-color: #740001;
}

@media only screen and (max-width: 600px) {
  .card-column {
    width: 100%;
  }

  .first-years-column-hidden {
    display: none;
  }

  .voldeys-column-hidden {
    display: none;
  }

  .column-toggler {
    display: flex;
    justify-content: center;
    position: sticky;
    top: 0px;
    z-index: 10;
  }
}
